main {
    display: flex;
    justify-self: center;
    flex-direction: row;
    position: relative;
    background-color: var(--main-background);
    margin: 50px 15%;
    height: fit-content;
    width: 70%;
    padding: 10px 50px;
    flex-direction: row;
}

main .welcome {
    width: 50%;
}


main .form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--special1);
    margin: 25px;
    padding: 25px;
    width: 50%;
    border-radius:25px;
}

 form button {
    background-color: var(--special2);
    font-size: 18px;
    cursor: pointer;
    color: var(--body-background);
    margin: 40px auto 0;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-self: center;
    width: fit-content;
    padding: 5px 100px;
} 

main .form button:hover {
    transform: scale(1.05);
}

main .form button:disabled {
    transform: scale(1);
    cursor: not-allowed;
}

main .form button:active {
    transform: scale(0.95);
}

.fieldError {
    color: var(--special2);
    top: -2px;
    margin: 0;
    padding: 0;
    font-size: 80%;   
}

sup {
    color: var(--error);
    top: -2px;
    font-size: 125%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

main .form input {
    font-size: 17px;
    padding: 3px 5px;
    width: 100%;
    border-radius: 3px;
    border: 2px solid var(--background)
}

main .field {
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0 0 0;
    width: 100%;
}

button {
    border:1px solid transparent;
} 

figcaption {
    color: var(--txt)
}