* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-background)
}

nav {
    /* padding-bottom: 15px; */
    /* border-bottom: 3px solid #333; */
    background-color : var(--special1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 10px 0 15px;
    width: 200px;
    justify-content: center;
    align-items: center;
}

nav .left {
    margin-left: 50px;
    width: 300px;
    display: flex;
    align-items: center;
}

nav .right {
    gap: 20px;
    margin-right: 50px;
    width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav button {    
    background-color: var(--special2);
    color: var(--body-background);
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    transform: scale(1.1);
}

nav button:active {
    border: 5px solid var(--special1);
}

main {
    display: flex;
    justify-self: center;
    flex-direction: row;
    position: relative;
    background-color: var(--main-background);
    margin: 50px 15%;
    height: fit-content;
    width: 70%;
    padding: 10px 50px;
    flex-direction: row;
}

main .welcome {
    width: 50%;
}

main .welcome .userType figure {
    padding:10px;
    margin: 0;
    width: 200px;
    text-align: center;
}

main .welcome .userType button {
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

main .welcome .userType button:hover {
    transform: scale(1.2);
}

main .welcome .userType img{
    width:100px;
    padding: 0;
    margin: 0;
}

main .form {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--special1);
    margin: 25px;
    padding: 25px;
    width: 50%;
    border-radius:25px;
}

 form button {
    background-color: var(--special2);
    font-size: 18px;
    cursor: pointer;
    color: var(--body-background);
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-self: center;
    width: fit-content;
    padding: 5px 100px;
} 

main .form button:hover {
    transform: scale(1.05);
}

main .form button:disabled {
    transform: scale(1);
    cursor: not-allowed;
}

main .form button:active {
    transform: scale(0.95);
}

.fieldError {
    color: var(--special2);
    top: -2px;
    margin: 0;
    padding: 0;
    font-size: 80%;   
}

sup {
    color: var(--error);
    top: -2px;
    font-size: 125%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

main .form input {
    font-size: 17px;
    padding: 3px 5px;
    width: 120%;
    border-radius: 3px;
    border: 2px solid var(--background)
}

main .field {
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0 0 0;
    width: 80%;
}

button {
    border:1px solid transparent;
} 

figcaption {
    color: var(--txt)
}

/* .actionIcon {
    width: 55px;
    height: 55px;
    cursor: pointer;
    align-self: center;
}

.actionButton {
    width: 55px;
    height: 55px;
    align-self: center;
    background-color: transparent;
} */

main {
    display: flex;
    justify-self: center;
    flex-direction: row;
    background-color: var(--main-background);
    color: var(--txt);
    margin: 50px 15%;
    height: fit-content;
    width: 70%;
    padding: 10px 50px;
    flex-direction: row;
}

footer {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-background);
    color: var(--txt);
    height: 50px;
    padding: 30px 0;
    justify-content: space-around;
    align-items: center;
}

body {
    position: relative;
}
  
body::after {
    content: '';
    display: block;
    height: 50px;
}

.external-links {
    display: flex;
    gap: 10px;
}

.cp-text{ 
    color: var(--cp-txt); 
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

body::-webkit-scrollbar-track {
    background: var(--main-background);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--button-bg);
    border-radius: 10px;
    border: 3px solid -var(--main-background);
}

body::-webkit-scrollbar{
    height: 0;
}



