@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');

[data-theme='light'] {
    --body-background   : #FFFFFF;
    --main-background   : #F7F7F7;
    --button-bg         : #222222;
    --button-selected   : #F24236;
    --button-txt        : #FFFFFF;
    --txt               : #000000;
    --cp-txt            : rgba(0,0,0,.7);
    --special1          : #2E86AB;
    --special2          : #F24236;
    --head-row          : #22303C;
    --head-txt          : #FFFFFF;
    --row-border        : #777;
    --row-txt           : #000000;
    --error             : #b22222;
    --error-bg          : #ffb6c1;
    --success           : #169716;
    --success-bg        : #b6ffc1;
    --table-shadow      : 0 0 20px rgba(0, 0, 0, 0.15);
    --row-even          : #eee;
}

[data-theme='dark'] {
    --body-background   : #15202B;
    --main-background   : #192734;
    --button-bg         : #FFFFFF;
    --button-selected   : #FCA311;
    --button-txt        : #000000;
    --txt               : #FFFFFF;
    --cp-txt            : rgba(255, 255, 255, 0.7);
    --special1          : #22303C;
    --special2          : #FCA311;
    --head-row          : #FFFFFF;
    --head-txt          : #000000;
    --row-border        : #EEEEEE;
    --row-txt           : #FFFFFF;
    --error             : #b22222;
    --error-bg          : #ffb6c1;
    --success           : #169716;
    --success-bg        : #b6ffc1;
    --table-shadow      : 0 0 20px rgba(255, 255, 255, 0.1);
    --row-even          : #203040;
}

*{
    transition: background-color .8s;
}

.title {
    font-family: 'yeon-sung', 'Courier New', Courier, monospace;
    margin: 3rem 0 0;
    text-align: center;
    color: var(--txt);
}

.greetingUser {
    margin: 0.5rem 0 2rem 0;
    text-align: center;
    color: var(--txt);
}

body {
    min-height: 100vh;
    overflow: scroll;
    max-width: 100vw;
}

.newEntry {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

.newEntryField {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 20px;
}


.actionIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.logoutIcon {
    /* margin-top: 15px; */
    width:50px;
    height:50px;
    cursor: pointer;
}

.actionButton, .logoutButton {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.actionButton:hover, .logoutButton:hover {
    transform: scale(1.1);
}

.actionButton:active, .logoutButton:active {
    transform: scale(0.9) ;
}

input {
    border-radius: 5px;
    border: 1px solid #888;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: var(--table-shadow);
}


tr {
    /* background-color: var(--row-odd); */
    color: var(--row-txt);
    text-align: center;
    /* border-top: 1px solid var(--row-border); */
    /* border-bottom: 1px solid var(--row-border); */
    height:55px;
}

tr:nth-of-type(even) {
    background-color: var(--row-even);
}
/* tr:last-of-type {
    border-bottom: 2px solid #14213D;
} */
/* 
tr:active {
    background-color: white;
}

tr:enabled {
    background-color: white;
} */
th, td {
    padding: 12px 15px;
}

th {
    background-color: var(--head-row);
    color: var(--head-txt);
    top: 0;
    position: sticky;
}

.actionColumn {
    color: var(--button-selected);
}

.choose {
    padding: 5px 20px;
    border: 3px solid var(--main-background);
}

.choose:hover {
    transform: scale(1.05);
    cursor: pointer;
}







.main img {
        transition: background-color .8s;
}






.offscreen {
    position: absolute;
    left: -9999px;
    /* color: transparent;
    background-color: transparent; */
}

.errMsg {
    background-color: var(--error-bg);
    color: var(--error);
    font-weight: bold;
    /* width: 97%; */
    width: fit-content;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: smaller;
    font-style: italic;
}

.successMsg {
    background-color: var(--success-bg);
    color: var(--success);
    font-weight: bold;
    width: fit-content;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: smaller;
    font-style: italic;
}









.dashboardMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid var(--button-selected);
    padding: 0;
    margin: 0 0 2rem 0;
}

.dashboardMenuButton {
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 25px;
    background-color: var(--main-bg);
    color: var(--txt);
    cursor: pointer;
}

.dashboardMenuButton:hover {
    transform: scale(1.1);  
}

.dashboardMenuButton:active {
    transform: scale(1)
    /* background-color: white; */
}

.selectedButton {
    background-color: var(--button-selected);
    color: white;
}

.dashboardMain {
    display: flex;
    flex-direction: column;
    min-height: 50%;
    padding: 0 3% 3%;
}

.blackme {
    background-color: #000;
}
.sendRequestButton {
    justify-self:"flex-end";
    width: fit-content;
    height: fit-content; 
    padding: 1rem;
    border-radius: 15px;
    font-size: 1.2rem;
    color: #FFF; 
    background-color:#24a0ed;
    cursor: pointer;
}

.sendRequestButton:hover {
    transform: scale(1.1)
}

.sendRequestButton:active {
    transform: scale(1)
}



.modal {
    width: 65rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-background);
    color: var(--txt);
    opacity: 1;
    transition : all 0.3s ease-in-out;
}

.info {
    width: 65rem;
    height: 30rem;
    padding: 5% 5% 0 5%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-background);
    color: var(--txt);
    opacity: 1;
    transition : all 0.3s ease-in-out;
    overflow-y: scroll;
}

.info .block {
    margin-bottom: 50px
}

.champions {
    margin:-20px;
    padding:0;
    font-weight: 200;
    font-size: smaller;
    text-align: center;

}

.info li {
    list-style: none;
}

.info h5 {
    margin: 0;
    margin-top: 3px;
}

.info table, .info td {
    box-shadow: none;
    text-align: left;
    width: fit-content
}

.process {
    margin-bottom: 2px;
}

.balls {
    width: 100%;
}